.course-card, .course-contents{
  background-color: #F4F4F4;
  border-radius: 8px;
  box-shadow: 2px 12px 20px 0px #4e4646;
  width: 90%;
  margin-top: 1.5rem;
  color: black;
  text-decoration: none;
}

.course-card:hover{
  cursor: pointer;
}

.delete-icon{
  width: 1rem;
}

button:hover{
  box-shadow: 2px 12px 20px 0px red;
}
